Source: policy-rc.d
Maintainer: Geoffrey Papilion <geoffp@wikia-inc.com>
Section: misc
Priority: optional
Standards-Version: 3.9.2
Build-Depends: debhelper (>= 8)

Package: policy-rc.d
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: greet user
 hithere greets the user, or the world.
